.form_control {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 2rem;
}

.form_control textarea {
  resize: none;
}


.form_control.score_container {
  flex-direction: row;
  justify-content: center;
  gap: 2rem;  
}

.score_container svg {
  font-size: 1.6rem;
  cursor: pointer;
  transition: 0.3s;
}

.radio_container {
  text-align: center;
  position: relative;
}

.radio_container input {
  opacity: 0;
  top: 15px;
  left: 20px;
  position: absolute;
}

.radio_container p {
  font-style: italic;
  font-weight: 300;
  font-size: 0.7rem;
  margin-top: 0.4rem;
}

svg {
  border-radius: 25px;
}

.score_container svg.red:hover {
  fill: red;
}
.score_container svg.yellow:hover {
  fill: gold;
}
.score_container svg.green:hover {
  fill: green;
}
.score_container svg.blue:hover {
  fill: blue;
}

.score_container input:checked ~ svg.red {
  fill: red;
}
.score_container input:checked ~ svg.yellow {
  fill: gold;
}
.score_container input:checked ~ svg.green {
  fill: green;
}
.score_container input:checked ~ svg.blue {
  fill: blue;
}
